{
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "parser": "typescript"
}
